<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <sp.sd.flywayrunner.builder.FlywayBuilder plugin="flyway-runner@1.9">
      <flywayCommand>migrate</flywayCommand>
      <installationName>Flyway1</installationName>
      <url>jdbc:postgresql://die-roll-db.dieroll:5432/dieroll</url>
      <commandLineArgs></commandLineArgs>
      <locations>filesystem:${WORKSPACE}/sql</locations>
      <credentialsId>dierolldb</credentialsId>
    </sp.sd.flywayrunner.builder.FlywayBuilder>
    <hudson.tasks.Shell>
      <command>npm install
npm test</command>
    </hudson.tasks.Shell>
    <sp.sd.fileoperations.FileOperationsBuilder plugin="file-operations@1.9">
      <fileOperations>
        <sp.sd.fileoperations.FileZipOperation>
          <folderPath>./sql</folderPath>
        </sp.sd.fileoperations.FileZipOperation>
      </fileOperations>
    </sp.sd.fileoperations.FileOperationsBuilder>
    <hudson.tasks.Shell>
      <command>curl -v --user ${nexususer}:${nexuspw} --upload-file sql.zip http://nexus.nexus:9081/repository/dieroll-sql/sql_v${BUILD_NUMBER}.zip
curl -v --user ${nexususer}:${nexuspw} --upload-file sql.zip http://nexus.nexus:9081/repository/dieroll-sql/sql_latest.zip</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>helm package helm
curl -u ${nexususer}:${nexuspw} http://nexus.nexus:9081/repository/dieroll-helm/ --upload-file die-roll-1.0.0.tgz -v</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker login nexus-repo.localhost -u ${nexususer} -p ${nexuspw}

docker build -t nexus-repo.localhost/dieroll:latest .
docker tag nexus-repo.localhost/dieroll:latest nexus-repo.localhost/dieroll:v${BUILD_NUMBER}

docker push nexus-repo.localhost/dieroll:latest
docker push nexus-repo.localhost/dieroll:v${BUILD_NUMBER}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>Die-Roll/2-Die-Roll-Build</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.21">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>nexus</credentialsId>
          <usernameVariable>nexususer</usernameVariable>
          <passwordVariable>nexuspw</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>