<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.38">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>//env.SQL_DIR = ${WORKSPACE}
node {
   stage(&apos;Build,Test,and Scan&apos;) { // for display purposes
      // Get some code from a GitHub repository
        git branch: &apos;dev&apos;, credentialsId: &apos;b7229c8d-7d5a-499b-9a0b-f375fad9fbe6&apos;, url: &apos;https://github.com/Mbwata/die-roll-multi-env.git&apos;
        flywayrunner commandLineArgs: &apos;-schemas=dieroll&apos;, credentialsId: &apos;75a61263-932f-4673-809c-13a3aab46230&apos;, flywayCommand: &apos;clean&apos;, installationName: &apos;Flyway1&apos;, locations: &apos;filesystem:&apos; + env.WORKSPACE + &apos;/sql&apos;, url: &apos;jdbc:postgresql://die-roll-db.jenkins:5432/dieroll&apos;
        flywayrunner commandLineArgs: &apos;-schemas=dieroll&apos;, credentialsId: &apos;75a61263-932f-4673-809c-13a3aab46230&apos;, flywayCommand: &apos;migrate&apos;, installationName: &apos;Flyway1&apos;, locations: &apos;filesystem:&apos; + env.WORKSPACE + &apos;/sql&apos;, url: &apos;jdbc:postgresql://die-roll-db.jenkins:5432/dieroll&apos;
        nodejs(&apos;Node1&apos;) {
            sh label: &apos;&apos;, script: &apos;&apos;&apos;npm install
            npm test&apos;&apos;&apos;
           // sh label: &apos;&apos;, script: &apos;/var/jenkins_home/tools/hudson.plugins.sonar.SonarRunnerInstallation/SonarScanner/bin/sonar-scanner -Dsonar.host.url=http://sonarqube.sonarqube:9442 -Dsonar.projectBaseDir=&apos;+ env.WORKSPACE
        }
   }
   stage(&apos;Push to repos&apos;) {
        withCredentials([usernamePassword(credentialsId: &apos;9f16dc79-34e4-406b-88ae-ebaade6690ec&apos;, passwordVariable: &apos;nexuspw&apos;, usernameVariable: &apos;nexususer&apos;)]) {
            sh label: &apos;&apos;, script: &apos;&apos;&apos;docker login nexus-repo.localhost -u ${nexususer} -p ${nexuspw}
            docker build -t nexus-repo.localhost/die-roll:latest .
            docker tag nexus-repo.localhost/die-roll:latest nexus-repo.localhost/die-roll:v${BUILD_NUMBER}
            docker push nexus-repo.localhost/die-roll:latest
            docker push nexus-repo.localhost/die-roll:v${BUILD_NUMBER}&apos;&apos;&apos;
            
            fileOperations([fileZipOperation(&apos;./sql&apos;)])
            
            sh label: &apos;&apos;, script: &apos;&apos;&apos;curl -v --user ${nexususer}:${nexuspw} --upload-file sql.zip http://nexus.nexus:9081/repository/die-roll-sql/sql_v${BUILD_NUMBER}.zip
            curl -v --user ${nexususer}:${nexuspw} --upload-file sql.zip http://nexus.nexus:9081/repository/die-roll-sql/sql_latest.zip
            helm package helm
            curl -u ${nexususer}:${nexuspw} http://nexus.nexus:9081/repository/die-roll-helm/ --upload-file die-roll-1.0.0.tgz -v&apos;&apos;&apos;
            
        }
   }
   stage(&apos;Deploy to Dev&apos;) {
        cleanWs()
        withCredentials([usernamePassword(credentialsId: &apos;9f16dc79-34e4-406b-88ae-ebaade6690ec&apos;, passwordVariable: &apos;nexuspw&apos;, usernameVariable: &apos;nexususer&apos;)]) {
            sh label: &apos;&apos;, script: &apos;&apos;&apos;            wget --user=${nexususer} --password=${nexuspw} http://nexus.nexus:9081/repository/die-roll-sql/sql_v${BUILD_NUMBER}.zip&apos;&apos;&apos;
        
        fileOperations([fileUnZipOperation(filePath: &apos;sql_v${BUILD_NUMBER}.zip&apos;, targetLocation: &apos;./&apos;)])
        flywayrunner commandLineArgs: &apos;-schemas=dieroll&apos;, credentialsId: &apos;75a61263-932f-4673-809c-13a3aab46230&apos;, flywayCommand: &apos;migrate&apos;, installationName: &apos;Flyway1&apos;, locations: &apos;filesystem:&apos; + env.WORKSPACE + &apos;/sql&apos;, url: &apos;jdbc:postgresql://die-roll-db.dieroll-dev:5432/dieroll&apos;

        sh label: &apos;&apos;, script: &apos;&apos;&apos;helm repo add nexus http://nexus.nexus:9081/repository/die-roll-helm/
        #helm repo update
        helm upgrade dieroll-dev nexus/die-roll --debug --set image.tag=${Version},metadata.namespace=dieroll-dev&apos;&apos;&apos;

            
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>