<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description></description>
          <defaultValue>latest</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>wget --user=${dockeruser} --password=${dockerpw} http://nexus.nexus:9081/repository/dieroll-sql/sql_${Version}.zip</command>
    </hudson.tasks.Shell>
    <sp.sd.fileoperations.FileOperationsBuilder plugin="file-operations@1.9">
      <fileOperations>
        <sp.sd.fileoperations.FileUnZipOperation>
          <filePath>${WORKSPACE}/sql_${Version}.zip</filePath>
          <targetLocation>${WORKSPACE}</targetLocation>
        </sp.sd.fileoperations.FileUnZipOperation>
      </fileOperations>
    </sp.sd.fileoperations.FileOperationsBuilder>
    <sp.sd.flywayrunner.builder.FlywayBuilder plugin="flyway-runner@1.9">
      <flywayCommand>migrate</flywayCommand>
      <installationName>Flyway1</installationName>
      <url>jdbc:postgresql://die-roll-db.dieroll:5432/dieroll</url>
      <commandLineArgs></commandLineArgs>
      <locations>filesystem:${WORKSPACE}/sql</locations>
      <credentialsId>dierolldb</credentialsId>
    </sp.sd.flywayrunner.builder.FlywayBuilder>
    <hudson.tasks.Shell>
      <command>helm repo add nexus http://nexus.nexus:9081/repository/dieroll-helm/

helm repo update

helm upgrade --install die-roll nexus/die-roll --debug --set image.tag=${Version},metadata.namespace=dieroll
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.38">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.22">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>nexus</credentialsId>
          <usernameVariable>nexususer</usernameVariable>
          <passwordVariable>nexuspw</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>